<section *ngIf="(perfStatsService.showPerfStats$ | async) === true" class="container">
    <div>
        <h3>Main Thread</h3>
        <div class="label-value">
            <small>FPS:</small>
            <code>{{ fpsCounter.fps$ | async }}</code>
        </div>
    </div>
    <div>
        <h3>Workers</h3>
        <div>
            <div class="label-value">
                <small>Number of workers:</small>
                <code>{{ perfStatsService.workerCount$ | async }}</code>
            </div>
            <div *ngIf="perfStatsService.workerFps$ | async">
                <div class="label-value" *ngFor="let worker of workerFpsEntries | async">
                    <small>FPS {{ worker[0] }}:</small>
                    <code>{{ worker[1] }}</code>
                </div>
            </div>
        </div>
    </div>
</section>
